@import "../../styles/index.scss";

@mixin multiValue {
  margin: 0 !important;
  margin-right: 8px !important;
  background-color: $color-primary-grey !important;

  i {
    display: none;
  }

  span {
    margin-left: 0 !important;
    font-size: 11px;
    font-weight: xd-font-weight("bold");
    line-height: 16px;
    color: $color-white;
  }

  &__remove > svg {
    display: none;
  }

  &__remove {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin: 0 6px 0 10px;
    background: url("../../images/icons/close-small.svg") no-repeat;
    transform: translate(0, 6px);

    &:hover {
      cursor: pointer;
      background-color: transparent !important;
    }
  }
}

.a-react-select {
  &--is-disabled {
    pointer-events: auto !important;
  }

  &__multi-value {
    $root: &;
    @include multiValue;

    &--is-disabled {
      background-color: $color-grey-1 !important;

      #{$root}__remove:hover {
        pointer-events: none !important;
        cursor: no-drop;
      }
    }
  }

  &--invalid__multi-value {
    @include multiValue;
  }

  &__placeholder,
  &--invalid__placeholder {
    font-size: 16px;
    color: $color-grey-1 !important;
  }

  &__indicator {
    padding: 10px !important;
  }

  &__indicator-separator,
  &--invalid__indicator-separator {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  &__control {
    min-height: 44px !important;
    border: 1px solid $color-line-light-gray !important;
    border-radius: 8px !important;
    box-shadow: none !important;

    &:hover,
    &:focus-within {
      border: 1px solid $color-primary-purple !important;
    }

    &--is-disabled {
      cursor: no-drop !important;
      background-color: $color-grey-2 !important;

      &:hover {
        border: 1px solid $color-line-light-gray !important;
      }
    }
  }

  &--invalid__control {
    border: 1px solid $color-primary-red !important;
    box-shadow: none !important;
  }

  &__option,
  &--invalid__option {
    font-size: 14px;
    background-color: $color-white !important;
    border-top: 1px solid $color-line-gray !important;

    &:hover,
    &:focus {
      background-color: $color-base-whitesmoke !important;
    }

    &:first-child {
      border-top: 2px solid $color-line-gray !important;
    }
  }

  &--item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      margin-left: 10px;
    }
  }

  &__menu,
  &--invalid__menu {
    padding: 5px;
    margin-top: -0.1px !important;
    border-radius: 8px !important;

    &-list {
      display: flex;
      height: 230px;

      &::-webkit-scrollbar {
        width: 4px;
        height: 0;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background: $color-secondary-grey;
        border-radius: 20px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $color-secondary-grey;
      }

      @include sp() {
        flex-direction: column;
      }
    }
  }

  &__group,
  &--invalid__group {
    width: 100%;
    padding: 0 20px 0 20px;
    &-heading {
      margin-bottom: 8px !important;
      font-size: 12px !important;
      font-weight: xd-font-weight("bold") !important;
      line-height: 17px;
    }
  }
}
