@import '../../styles/index.scss';

@mixin multiValue {
  min-height: 28px !important;
  margin: 3px !important;
  background-color: $color-primary-grey !important;

  i {
    display: none;
  }

  span {
    margin-left: 0 !important;
    font-size: 11px;
    font-weight: xd-font-weight('bold');
    line-height: 28px;
    color: $color-white;
  }

  &__remove > svg {
    display: none;
  }

  &__remove {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin: 0 6px 0 10px;
    background: url('../../images/icons/close-small.svg') no-repeat;
    transform: translate(0, 8px);

    &:hover {
      cursor: pointer;
      background-color: transparent !important;
    }
  }
}

@mixin groupHeading {
  font-size: 12px !important;
  font-weight: bold !important;
  line-height: 17px;
}

.a-react-select {
  $root-parent: &;
  $dur-input: '.css-b8ldur-Input'; // Other two state on focus come from react-select
  $disabled-input: '.css-1bwsx9e-Input'; // Disabled state on focus come from react-select

  &__multi-value,
  &--invalid__multi-value {
    @include multiValue;

    &--is-disabled {
      background-color: $color-grey-1 !important;
    }
  }

  &__multi-value {
    cursor: pointer;
  }

  &__placeholder,
  &--invalid__placeholder {
    font-size: 16px;
    color: $color-grey-1 !important;
  }

  &__indicator {
    padding: 10px !important;
  }

  &__indicator-separator,
  &--invalid__indicator-separator {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  &__control {
    min-height: 44px !important;
    border: 1px solid $color-line-light-gray !important;
    border-radius: 8px !important;
    box-shadow: none !important;

    &:hover,
    &:focus-within {
      border: 1px solid $color-primary-purple !important;
    }

    &--is-disabled {
      background-color: $color-grey-2 !important;

      &:hover {
        border: 1px solid $color-line-light-gray !important;
      }
    }
  }

  &--invalid__control {
    border: 1px solid $color-primary-red !important;
    box-shadow: none !important;
  }

  &__option,
  &--invalid__option {
    font-size: 14px;
    background-color: $color-white !important;
    border-top: 1px solid $color-line-gray !important;

    &:hover,
    &:focus {
      color: $color-primary-purple !important;
    }

    &:first-child {
      border-top: 2px solid $color-line-gray !important;

      @include pc() {
        border-top: none !important;
      }
    }
  }

  &--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    cursor: pointer;

    .a-icon:hover {
      background-image: url('../../images/icons/info-selected.svg');
    }

    span {
      margin-left: 10px;
    }
    .a-icon--add-item {
      width: 20px;
      height: 20px;
    }
    .a-icon--alert {
      width: 18px;
      height: 18px;
    }
  }

  &__menu,
  &--invalid__menu {
    z-index: 10 !important;
    padding: 0 5px 0 0;
    margin-top: 0 !important;
    border-radius: 8px !important;
    box-shadow: 1px 0 1px 0 hsl(0deg 0% 0% / 10%), 0 4px 11px hsl(0deg 0% 0% / 10%) !important;

    &-list {
      display: flex;
      height: 230px;

      &::-webkit-scrollbar {
        width: 4px;
        height: 0;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background: $color-secondary-grey;
        border-radius: 20px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $color-secondary-grey;
      }

      @include sp() {
        flex-direction: column;
      }

      @include pc() {
        &--left {
          justify-content: flex-start;
        }

        &--right {
          justify-content: flex-end;
        }
      }
    }

    &-notice {
      width: 100%;
    }
  }

  &__group,
  &--invalid__group {
    width: 100%;
    padding: 16px 20px 0 20px !important;

    @include pc() {
      width: 50%;
      padding-top: 0 !important;
    }

    &-heading {
      padding: 0 0 9px !important;
      @include groupHeading;

      @include pc() {
        display: none !important;
      }

      &--custom {
        display: flex;
        justify-content: space-between;
        margin: 16px 20px 0 20px;
        @include groupHeading;

        > span {
          display: inline-block;
          width: calc((100% - 40px) / 2);
          padding-bottom: 11px;
          color: $color-secondary-grey;
          border-bottom: 2px solid $color-line-gray !important;
        }

        @include sp() {
          display: none;
        }
      }
    }
  }

  &__value-container {
    min-height: 28px;
    padding: 4px 12px !important;
    &#{$root-parent}__value-container--has-value {
      padding: 4px 6px !important;
    }
  }

  &__multi-value__label,
  &--invalid__multi-value__label {
    min-height: 28px;
    padding: 0 0 0 8px !important;
  }
  &__multi-value__remove,
  &--invalid__multi-value__remove {
    transform: translate(0, 6px) !important;
  }

  #{$dur-input} {
    padding: 0 !important;
    margin: 0 4px !important;
    &#{$root-parent}__value-container--has-value & {
      margin: 7px 4px 0 !important;
    }
  }

  #{$disabled-input} {
    padding: 0 !important;
    margin: 0 4px !important;
  }
}
