$zindex-scroll-top: 800;
$zindex-popover: 999;
$zindex-balloon: 1000;
$zindex-float-button: 6000;
$zindex-globalnavi: 7000;
$zindex-modal: 9999;
$zindex-modal-content: 10000;
$zindex-toast: 10001;
$zindex-loading-content: 10002;
$zindex-save-toast: 10003;
